
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-fire-station:before { content: '\e817'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */